@import "@fontsource/poppins";

body {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}
#root {
  /* height: max-content; */
  background-color: lightblue;
  min-height: calc(100vh + 5em); /* if content is smaller than the viewport */
  padding-bottom: 5em;
}

.form-field {
  padding: "10rem";
}
